:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card-header {
  height: 48px;
}

.mat-mdc-card-avatar {
  width: auto;
  height: auto;
  margin-bottom: 0;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}
