:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-card {
  width: 100%;
  height: 100%;
}

mat-card-header {
  align-items: center;
  justify-content: space-between;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}
