:host {
  display: block;
}

mat-card-header {
  padding-bottom: 16px;
}

.mat-mdc-card-avatar {
  width: auto;
  height: auto;
  margin-bottom: 0;
}

.mat-column-index,
.mat-column-homePlayerNumber,
.mat-column-guestPlayerNumber,
.mat-column-legs,
.mat-column-points,
.mat-column-rank {
  width: 0px;
}
