<div class="container-fluid px-0">
  <div class="row g-3">
    <div class="col">
      <app-home-team></app-home-team>
    </div>
    <div class="col">
      <app-home-players></app-home-players>
    </div>
  </div>
  <div class="row g-3 mt-0">
    <div class="col">
      <app-list-setting
        (createItem)="onCreateLeague($event)"
        (deleteItem)="onDeleteLeague($event)"
        (editItem)="onEditLeague($event)"
        icon="list"
        [isLoading$]="leaguesLoading$"
        itemPluralName="Klassen"
        itemSingularName="Klasse"
        (reorderItems)="onReorderLeagues($event)"
        [values]="leagues"
      ></app-list-setting>
    </div>
    <div class="col">
      <app-list-setting
        (createItem)="onCreateMode($event)"
        (deleteItem)="onDeleteMode($event)"
        (editItem)="onEditMode($event)"
        icon="list"
        [isLoading$]="modesLoading$"
        itemPluralName="Spielmodi"
        itemSingularName="Spielmodus"
        (reorderItems)="onReorderModes($event)"
        [values]="modes"
      ></app-list-setting>
    </div>
    <div class="col">
      <app-misc-settings></app-misc-settings>
    </div>
  </div>
</div>
