:host {
  height: 100%;
}

.running-games-row {
  cursor: pointer;
}

tr.running-games-row:hover {
  background: whitesmoke;
}

tr.running-games-row:active {
  background: #efefef;
}

.mat-column-indicator {
  width: 0px;
}

.mat-column-id {
  width: 0px;
}

.mat-column-score {
  width: 0px;
}

.mat-column-actions {
  width: 0px;
}
