<h2 mat-dialog-title>
  <mat-icon>person_check</mat-icon>
  <span class="ms-2">Heimspieler auswählen</span>
</h2>
<mat-divider></mat-divider>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup">
    <div class="container-fluid px-0">
      <div class="row g-3">
        <div class="col">
          <mat-form-field appearance="outline">
            <mat-label>Heimspieler</mat-label>
            <mat-select cdkFocusInitial formControlName="player">
              @for (player of data.selectablePlayers; track player) {
              <mat-option [value]="player.id">{{ player.first_name }} {{ player.last_name }}</mat-option>
              }
            </mat-select>
            @if (formGroup.get('player')?.hasError('required')) {
            <mat-error>Feld darf <strong>nicht</strong> leer sein</mat-error>
            }
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>
<mat-divider></mat-divider>
<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Abbrechen</button>
  <button mat-flat-button [disabled]="formGroup.invalid" (click)="onSelectedPlayer()">
    <mat-icon>person_check</mat-icon>
    <span>Auswählen</span>
  </button>
</mat-dialog-actions>
