:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-card {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0;
  font-weight: bold;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
}
