h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0;
  padding-top: 16px;
  padding-bottom: 16px;
}

mat-dialog-content {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

mat-form-field {
  width: 100%;
}
